Repository transloadit/uppy, pull requests merged in 2021-09, with the labels that each got.

#3160 Add migration guides to website
  website/src/_data/authors.yml
  website/src/_posts/2021-08-2.0.md
  website/src/docs/migration-guides.md
Labels: Website, 📖 Docs

#3178 Update Google Drive for brand compliance
  packages/@uppy/core/src/index.js
  packages/@uppy/google-drive/src/index.js
  packages/@uppy/locales/src/en_US.js
  packages/@uppy/provider-views/src/ProviderView/AuthView.js
  packages/@uppy/provider-views/src/style.scss
Labels: UI, Dashboard

#3186 Fix `autoOpenFileEditor` for `@uppy/dashboard`
  packages/@uppy/dashboard/src/index.js
Labels: Dashboard

#3174 Show all details on mobile when `showProgressDetails` is `true`
  .eslintrc.js
  BACKLOG.md
  packages/@uppy/dashboard/src/style.scss
  packages/@uppy/status-bar/src/Components.js
  packages/@uppy/status-bar/src/StatusBar.js
  packages/@uppy/status-bar/src/calculateProcessingProgress.js
  packages/@uppy/status-bar/src/index.js
  packages/@uppy/status-bar/src/style.scss
Labels: Status Bar

#3167 Default allow headers
  examples/custom-provider/server/index.js
  examples/uppy-with-companion/server/index.js
  packages/@uppy/companion/src/server/middlewares.js
  packages/@uppy/companion/src/standalone/index.js
  packages/@uppy/companion/test/__tests__/cors.js
  website/src/docs/aws-s3-multipart.md
  website/src/docs/aws-s3.md
Labels: Companion, Improvement
